@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: black;
  box-sizing: border-box;
}

h1 {
  color: white;
}

.card {
  text-align: center;
  display: inline-block;
  margin: auto;
  height: 370px;
  font-size: 50px;
  width: 250px;
  padding: 20px;
  padding-top: 140px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  &:before {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 50px;
  }
  &:after {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 50px;
  }

  &.spade:before,
  &.spade:after {
    content: "\2660";
  }
  &.club:before,
  &.club:after {
    content: "\2663";
  }
  &.heart:before,
  &.heart:after {
    content: "\2665";
    color: red;
  }
  &.diamond:before,
  &.diamond:after {
    content: "\2666";
    color: red;
  }
}

.rank {
  font-size: 2.5em;
}
